<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>BASE</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav navbar_nav">
          <li><a class="navbar-brand" href="{% url 'basic_app:list' %}">School</a></li>
          <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
          <li><a href="#"></a></li>
        </ul>
      </nav>
      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>
